<div class="row">
  <aside class="col-md-3">
    <h2>About</h2>
    <p>
      I am Studying Web-engineering and striving to be a full-stack
      web-Developer One day. I love Football.
    </p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>Coming Soon</h2>
      <p>Coming Soon</p>
      <p>Stay Tuned For Future Updates.</p>

    </article>
  </section>
</div>